<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REVO COFFEE - About Us</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Nunito:wght@300;600;700&display=swap"
            rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./img/svg/revo_logo.svg">
    <link rel="stylesheet" href="../css/about-us.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6b76bdfe39.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
            integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
            crossorigin="anonymous"></script>
</head>
<body>
<!--HEADER (NAVBAR COMPONENT)-->
<header class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" style="font-family: Nunito; font-weight: 900; font-size: 32px;" href="#"><i
                        class="fas fa-mug-hot"></i>REVO </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/user" class="nav-link"
                           style="font-family: Nunito; font-weight: 600; font-size: 20px;">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/products" class="nav-link"
                           style="font-family: Nunito; font-weight: 600; font-size: 20px;">PRODUCTS</a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/about" class="nav-link active"
                           style="font-family: Nunito; font-weight: 600; font-size: 20px;">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/login" class="nav-link"
                           style="font-family: Nunito; font-weight: 600; font-size: 20px;">LOG IN</a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/profile" class="nav-link"
                           style="font-family: Nunito; font-weight: 600; font-size: 20px;">PROFILE</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<!-- BLOG -->
<div class="container" style="max-width: 1170px;">
    <p class="subtitle" id="blog">The History of Coffee</p>
    <h2 class="title">OUR BLOG</h2>

    <div class="card mb-3" style="max-width: 1170px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="img/history.jpeg">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="work__title">Our History</div>
                    <div class="work__subtitle">Great gift for coffee connoisseurs. Coffee beans are carefully
                        selected by Revo, roasted according to the technology and know-how learned from famous
                        artisans, along with the love and passion of the coffee maker… creating pure cups of coffee
                        only exclusively for you.
                    </div>
                    <a target="_blank" href="https://www.ncausa.org/about-coffee/history-of-coffee"><button
                                type="button" class="btn btn-outline-light" id="data-modal" style="font-weight: bold; font-family: Nunito; color: #f9fbff; background: #c7a17a;
            border-radius: 50px;">MORE</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 1170px;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <div class="work__title">The First Shop</div>
                    <div class="work__subtitle">Great gift for coffee connoisseurs. Coffee beans are carefully
                        selected by Revo, roasted according to the technology and know-how learned from famous
                        artisans, along with the love and passion of the coffee maker… creating pure cups of coffee
                        only exclusively for you.
                    </div>
                    <a target="_blank" href="https://www.ncausa.org/about-coffee/history-of-coffee"><button
                                type="button" class="btn btn-outline-light" id="data-modal" style="font-weight: bold; font-family: Nunito; color: #f9fbff; background: #c7a17a;
            border-radius: 50px;">MORE</button></a>
                </div>
            </div>
            <div class="col-md-4">
                <img src="img/firstshop.jpeg">
            </div>
        </div>
    </div>
    <div class="videos" id="videos">
        <div class="videos__wrapper">
            <div class="video__item"></div>
            <iframe class="video__element" src="https://www.youtube.com/embed/NmCTnxKNTfg"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>

<!--FOOTER-->
<footer class="footer">

    <div class="links">
        <a href="/user">Home</a>
        <a href="/user/products">Products</a>
        <a href="/user/about">About us</a>
    </div>

    <div class="credit">created by <span>Team4</span> | all rights reserved</div>
</footer>


</body>
</html>